<h3 id="wines-h1">Rasgos de los vinos</h3>
<div id="cont-details">
  <div id="details-img">
      <img src="{{vinoDetalle.vinoPicture}}" alt="image" width="100px">
  </div>
  <div id="details-list">
      <ul id="list-groupid" class="list-group">
        <li class="list-group-item"><strong> Nombre: &nbsp; </strong> {{vinoDetalle.nombre}}</li>
        <li class="list-group-item"><strong> Tipo de Vino: &nbsp; </strong>{{vinoDetalle.tipoVino}}</li>
        <li class="list-group-item"><strong> Añada: &nbsp; </strong>{{vinoDetalle.anada}}</li>
        <li class="list-group-item"><strong> Año: &nbsp; </strong>{{ vinoDetalle.ano}}</li>
        <li class="list-group-item"><strong> Denominación de Origen: &nbsp; </strong> {{ vinoDetalle.denOrigen}}</li>
        <li class="list-group-item"><strong> Puntuación: &nbsp; </strong> {{ vinoDetalle.puntuacion}}, sobre 5</li>
        <li class="list-group-item"> <strong> Maridaje: &nbsp; </strong>{{ vinoDetalle.maridaje}}</li>
    </ul>
    </div>
</div>
    {{#if userRole}}
      <form id="btn-like" action="/profile/wish-list/{{vinoDetalle._id}}" method="POST">
        <button id="btn-like2"> <i class="bi bi-heart-fill"> <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652980959/lovers-wine/heart_a89vbd.svg" alt="corazon"></i> </button>
      </form>
      <form action="/wines/{{vinoDetalle._id}}/details/comments" method="POST">
        <p>Comenta que es lo que más te gusta de este vino</p>
        <br />
        <p><textarea name="comment" placeholder="Deja aquí tu comentario" style="width:300px"></textarea></p>
        <button> Añadir comentario </button>
        {{#each commentVino}}
         <li>Comentario de {{this.commentUser.username}}: {{this.comment}}</li>
        {{/each}}
      </form>
    {{/if}}

  {{!-- Solo para ADMINS --}}
  {{#if adminRole}}

    <form action="/wines/{{vinoDetalle._id}}/upload" method="GET">
      <button> Actualizar </button>
    </form>
   
    <form action="/wines/{{vinoDetalle._id}}/delete" method="POST">
      <button>Borrar</button>
    </form> 

  {{/if}}



  
   
 
   

