<h1>wines details</h1>

      {{ vinoDetalle.vinoPicture}}

    <li>Nombre: {{ vinoDetalle.nombre}}</li>
    <li>Tipo de Vino: {{ vinoDetalle.tipoVino}}</li>
    <li>A침ada: {{ vinoDetalle.anada}}</li>
    <li>A침o: {{ vinoDetalle.ano}}</li>
    <li>DEnominaci칩n de Origen:{{ vinoDetalle.denOrigen}}</li>
    <li>Puntuaci칩n: {{ vinoDetalle.puntuacion}}, sobre 5</li>
    <li>Maridaje: {{ vinoDetalle.maridaje}}</li>

    <img src="{{ vinoDetalle.vinoPicture}}" alt="img" width="200px">
   

