<h1>wines details</h1>


    <li>{{ vinoDetalle.nombre}}</li>
    <li>{{ vinoDetalle.tipoVino}}</li>
    <li>{{ vinoDetalle.anada}}</li>
    <li>{{ vinoDetalle.ano}}</li>
    <li>{{ vinoDetalle.denOrigen}}</li>
    <li>{{ vinoDetalle.puntuacion}}</li>
    <li>{{ vinoDetalle.maridaje}}</li>
    <li>{{ vinoDetalle.vinoPicture}}</li>
