<h1>wines details</h1>
  <img src="{{vinoDetalle.vinoPicture}}" alt="image" width="100px">
  <ul id="list-groupid" class="list-group">
    <li class="list-group-item">Nombre: {{vinoDetalle.nombre}}</li>
    <li class="list-group-item">Tipo de Vino: {{vinoDetalle.tipoVino}}</li>
    <li class="list-group-item">Añada: {{vinoDetalle.anada}}</li>
    <li class="list-group-item">Año: {{ vinoDetalle.ano}}</li>
    <li class="list-group-item">Denominación de Origen:{{ vinoDetalle.denOrigen}}</li>
    <li class="list-group-item">Puntuación: {{ vinoDetalle.puntuacion}}, sobre 5</li>
    <li class="list-group-item">Maridaje: {{ vinoDetalle.maridaje}}</li>
</ul>
  

    {{#if userRole}}
      <form action="/profile/wish-list/{{vinoDetalle._id}}" method="POST">
        <button> Like </button>
      </form>
      <form action="/wines/{{vinoDetalle._id}}/details/comments" method="POST">
        <p>Comenta que es lo que más te gusta de este vino</p>
        <br />
        <p><textarea name="comment" placeholder="Deja aquí tu comentario" style="width:300px"></textarea></p>
        <button> Añadir comentario </button>
        {{#each commentVino}}
         <li>Comentario de {{this.commentUser.username}}: {{this.comment}}</li>
        {{/each}}
      </form>
    {{/if}}

  {{!-- Solo para ADMINS --}}
  {{#if adminRole}}

    <form action="/wines/{{vinoDetalle._id}}/upload" method="GET">
      <button> Actualizar </button>
    </form>
   
    <form action="/wines/{{vinoDetalle._id}}/delete" method="POST">
      <button>Borrar</button>
    </form> 

  {{/if}}



  
   
 
   

