<h3 id="wines-h1">Rasgos de los vinos</h3>
 <div class="todovino">
    <a href="/profile"><i class="bi bi-arrow-counterclockwise"></i><svg id="btn-volver" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
    </svg></a>
    </div>  
<br>
<div id="cont-details">
  <div id="details-img">
      <img src="{{vinoDetalle.vinoPicture}}" alt="image" width="100px"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  </div>
  <div id="details-list">
      <ul id="list-groupid" class="list-group">
        <li class="list-group-item"><strong> Nombre: &nbsp; </strong> {{vinoDetalle.nombre}}</li>
        <li class="list-group-item"><strong> Tipo de Vino: &nbsp; </strong>{{vinoDetalle.tipoVino}}</li>
        <li class="list-group-item"><strong> Añada: &nbsp; </strong>{{vinoDetalle.anada}}</li>
        <li class="list-group-item"><strong> Año: &nbsp; </strong>{{ vinoDetalle.ano}}</li>
        <li class="list-group-item"><strong> Denominación de Origen: &nbsp; </strong> {{ vinoDetalle.denOrigen}}</li>
        <li class="list-group-item"><strong> Puntuación: &nbsp; </strong> {{ vinoDetalle.puntuacion}}, sobre 5</li>
        <li class="list-group-item"> <strong> Maridaje: &nbsp; </strong>{{ vinoDetalle.maridaje}}</li>
    </ul>
    </div>
</div>
    {{#if userRole}}
      <form id="btn-like" action="/profile/wish-list/{{vinoDetalle._id}}" method="POST">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <button id="btn-like2"> <i class="bi bi-heart"></i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg> </button>
      </form>
      <form id="form-comment" action="/wines/{{vinoDetalle._id}}/details/comments" method="POST">
        <br>
        <textarea id="comentario" name="comment" placeholder="Deja aquí tu comentario" style="width:300px"></textarea>
        <button id="comentario-btn"> Añadir comentario </button>
     
        {{#each commentVino}}
        <br>
         <strong>{{this.commentUser.username}}: </strong> {{this.comment}}
        {{/each}}
      </form>
    {{/if}}

  {{!-- Solo para ADMINS --}}
  {{#if adminRole}}

    <form id="form-comment" action="/wines/{{vinoDetalle._id}}/upload" method="GET">
      <button id="comentario-btn"> Actualizar </button>
    </form>
   <br>
    <form id="form-comment" action="/wines/{{vinoDetalle._id}}/delete" method="POST">
      <button id="comentario-btn">Borrar</button>
    </form> 

  {{/if}}



  
   
 
   

