<h1>wines details</h1>

    <li>Nombre: {{vinoDetalle.nombre}}</li>
    <li>Tipo de Vino: {{vinoDetalle.tipoVino}}</li>
    <li>Añada: {{vinoDetalle.anada}}</li>
    <li>Año: {{ vinoDetalle.ano}}</li>
    <li>Denominación de Origen:{{ vinoDetalle.denOrigen}}</li>
    <li>Puntuación: {{ vinoDetalle.puntuacion}}, sobre 5</li>
    <li>Maridaje: {{ vinoDetalle.maridaje}}</li>

   <img src="{{vinoDetalle.vinoPicture}}" alt="image" width="200px">

    {{#if userRole}}
      <form action="/profile/wish-list/{{vinoDetalle._id}}" method="POST">
        <button> Like </button>
      </form>
      <form action="/wines/{{vinoDetalle._id}}/details/comments" method="POST">
        <p>Comenta que es lo que más te gusta de este vino</p>
        <br />
        <p><textarea name="comment" placeholder="Deja aquí tu comentario" width="300px"></textarea></p>
        <button> Añadir comentario </button>
        <li>Comentario de {{comentUser}}: {{comentario}} </li>
      </form>
    {{/if}}

  {{!-- Solo para ADMINS --}}
  {{#if adminRole}}

    <form action="/wines/{{vinoDetalle._id}}/upload" method="GET">
      <button> Actualizar </button>
    </form>
   
    <form action="/wines/{{vinoDetalle._id}}/delete" method="POST">
      <button>Borrar</button>
    </form> 

  {{/if}}



  
   
 
   

