<h1>wines details</h1>

{{#each vinoDetalle}}
    <li>{{this.nombre}}</li>
    <li>{{this.tipoVino}}</li>
    <li>{{this.anada}}</li>
    <li>{{this.ano}}</li>
    <li>{{this.denOrigen}}</li>
    <li>{{this.puntuacion}}</li>
    <li>{{this.maridaje}}</li>
    <li>{{this.vinoPicture}}</li>
{{/each}}