<h3 id="wines-h1">Edita el vino</h3>

  <form class="form-edit" action="/wines/{{vinoActua._id}}/upload" method="POST" enctype="multipart/form-data" >

    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" value="{{vinoActua.nombre}}"> 

  <br>

    <label for="tipoVino">Tipo Vino: </label>
    <select name="tipoVino">
        <option value="{{vinoActua.tipoVino}}">{{vinoActua.tipoVino}}</option>
        <option disabled="true">__________</option>
      {{#each tipoVino}}
        <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>

    <br>

    <label for="anada">A침ada: </label>
    <select name="anada">
        <option value="{{vinoActua.anada}}">{{vinoActua.anada}}</option>
        <option disabled="true">__________</option>
      {{#each anada}}
        <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>

    <br>

    <label for="ano">A침o: </label>
    <input type="text" name="ano" value="{{vinoActua.ano}}">

    <br>

    <label for="denOrigen">Denominaci칩n de Origen:  </label>
    <select name="denOrigen">
      <option value="{{vinoActua.denOrigen}}">{{vinoActua.denOrigen}}</option>
      <option disabled="true">__________</option>
    {{#each denOrigen}}
    <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>

    <br>

    <label for="puntuacion">Puntuaci칩n: </label>
    <select name="puntuacion">
      <option value="{{vinoActua.puntuacion}}">{{vinoActua.puntuacion}}</option>
      <option disabled="true">__________</option>
    {{#each puntuacion}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>

    <br>

    <label for="maridaje">Maridaje: </label>
    <select name="maridaje" multiple="true">
      <option value="{{vinoActua.maridaje}}">{{vinoActua.maridaje}}</option>
      <option disabled="true">__________</option>
    {{#each maridaje}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>

    <br>

    <label for="image"> Imagen: </label>
    <input type="file" name="image">

  <img src="{{vinoActua.vinoPicture}}" alt="fotoVino" width=" 50px"> 

  <button class="add-img" type="submit">Actualizar Vino</button>

</form>