<h3 id="wines-h1">Crea el vino</h3>

  <form class="form-edit"  action="/wines/create" method="POST" enctype="multipart/form-data"> {{!-- enctype="multipart/form-data" --}}

    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre"> 

  <br>

    <label for="tipoVino">Tipo Vino: </label>
    <select name="tipoVino" value=>
      {{#each tipoVino}}
        <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>

    <br>

    <label for="anada">Añada: </label>
    <select name="anada">
      {{#each anada}}
        <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>

    <br>

    <label for="ano">Año: </label>
    <input type="text" name="ano">

    <br>

    <label for="denOrigen">Denominación de Origen:
    </label>
    <select name="denOrigen">
    {{#each denOrigen}}
    <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>
    <br>
    <label for="puntuacion">Puntuación:
    </label>
    <select name="puntuacion">
    {{#each puntuacion}}
    <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>
    <br>
    <label for="maridaje">Maridaje:
    </label>
    <select name="maridaje" multiple="true">
    {{#each maridaje}}
    <option value="{{ this }}">{{ this }}</option>
    {{/each}}
    </select>
   <br>
    <label for="image"> Imagen: </label>
    <input type="file" name="image" width=" 50px">
  

    {{!-- <img src="{{vinoPicture}}" alt="fotoVino"> --}}

    <button class="addvino"> Añadir Vino </button>
    
</form>
