<h2>wines-edit</h2>


<form action="/wines/{{vinoActualizado._id}}/upload" method="POST" enctype="multipart/form-data">


 <label for="nombre">Nombre: </label>
  <input type="text" name="nombre" value="{{vinoActua.nombre}}"> 

<br>

  <label for="tipoVino">Tipo Vino: </label>
  <select name="tipoVino" value=>
    {{#each  tipoVino}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>

  <br>

  <label for="anada">A침ada: </label>
  <select name="anada">
    {{#each anada}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>

  <br>

  <label for="ano">A침o: </label>
  <input type="text" name="ano">

  <br>

  <label for="denOrigen">Denominaci칩n de Origen:
  </label>
  <select name="denOrigen">
  {{#each denOrigen}}
  <option value="{{ this }}">{{ this }}</option>
  {{/each}}
  </select>
  <br>
  <label for="puntuacion">Puntuaci칩n:
  </label>
  <select name="puntuacion">
  {{#each score}}
  <option value="{{ this }}">{{ this }}</option>
  {{/each}}
  </select>
  <br>
  <label for="maridaje">Maridaje:
  </label>
  <select name="maridaje" multiple="true">
  {{#each maridaje}}
  <option value="{{ this }}">{{ this }}</option>
  {{/each}}
  </select>

  <label for="image"> Imagen: </label>
  <input type="file" name="image">

<button> <a href="/wines/{{vinoActua._id}}/details"></a> Actulizar Vino </button>

</form>